@page
@model lab12New.Pages.Goods.DetailsModel
@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Good</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Good.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Good.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Good.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Good.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Good?.Id">Edit</a> |
    <a asp-page="./good">Back to List</a>
</div>
